@model IEnumerable<UserFeed>
@if (Model.Any() == false)
{
    <tr><td colspan="4" style="text-align:center"><h3>No feeds yet.</h3></td></tr>
}
else
{
    <table class="table">
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Created UTC
            </th>
            @*<th>
                    Owner
                </th>
                <th>
                    IP/Host
                </th>*@

            <th></th>
        </tr>

        @foreach (UserFeed userFeed in Model)
        {
            string rowHighlight = (userFeed.DeletedOnUtc.HasValue) ? "deletedShade" : "";

            <tr class="@rowHighlight" id="row@(userFeed.FeedToken)">
                <td>
                    @if (userFeed.ImgUrl != "")
                    {
                        <a href="@Url.RouteUrl("ViewFeed", new { feedToken = userFeed.FeedToken })">
                            <img class="feedRowImg" src="@userFeed.ImgUrl" />
                        </a>
                    }
                </td>
                <td>
                    @Html.RouteLink(userFeed.FeedName ?? "Empty", routeName: "ViewFeed", routeValues: new { feedToken = userFeed.FeedToken })<br />
                    @if (userFeed.DeletedOnUtc.HasValue)
                    {
                        <text>Deleted On </text> @userFeed.DeletedOnUtc.FriendlyFormat()
                    }
                </td>
                <td>
                    @userFeed.CreatedOnUtc.FriendlyFormat()
                </td>

                @*<td>
                        @Html.RouteLink(userFeed.UserUniqueId, routeName: "UserFeeds", routeValues: new { userId = userFeed.UserUniqueId })
                    </td>
                    <td>
                        @userFeed.CreatedFromIpHost
                    </td>*@
                <td>
                    <a class="deleteFeedLink" id="@userFeed.FeedToken"><i class="fa fa-times"></i>Delete</a>
                </td>
            </tr>
        }
    </table>
}
