@model DIY_PodcastRss.ViewModels.AllUserFeedsViewModel

@{
    ViewBag.Title = "All Adhoc Podcast Feeds";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>


    <table class="table">
        <tr>
            <th>
                Created UTC
            </th>
            <th>
                Owner
            </th>
            <th>
                IP/Host
            </th>
            <th>
                FeedToken
            </th>
            <th>
                Deleted UTC
            </th>
            <th></th>
        </tr>

        @foreach (UserFeed userFeed in Model.Feeds) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => userFeed.CreatedOnUtc)
                </td>
                <td>
                    @Html.RouteLink(userFeed.UserUniqueId, routeName: "UserFeeds", routeValues: new { userId = userFeed.UserUniqueId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => userFeed.CreatedFromIpHost)
                </td>
                <td>
                    @Html.RouteLink(userFeed.FeedToken, routeName: "ViewFeed", routeValues: new { feedToken =userFeed.FeedToken})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => userFeed.DeletedOnUtc)
                </td>
              
            </tr>
    }


    </table>
 
