@model DiyPodcastRss.Core.Model.UserFeed

@{
    ViewBag.Title = "Create A New Adhoc Podcast Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
    <h1>DIY Podcast RSS Feed</h1>
    <p class="lead">Make an Adhoc RSS Feed Of A Bunch Of Audio Files.</p>
    This is useful if you have a handful of audio files (audio books, interviews, etc.) that you'd like to listen to in your phone's podcast application.
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Getting started</h3>
    </div>
    <div class="panel-body">
        <ol>
            <li>Upload your audio files to somewhere publicly available on the internet. <a href="https://dropbox.com">Dropbox</a>, <a href="https://onedrive.live.com">OneDrive</a>, <a href="https://drive.google.com">Google Drive</a>, <a href="https://mega.co.nz/">Mega</a>, or any public, open, and readable spot on the web.</li>
            <li>Paste the locations of your audio files. The play order will be <em>just as you specify</em>.</li>
            <li>We'll generate and host an RSS feed here at <strong>diyrss.com</strong>. </li>
            <li>You can then copy your unique RSS URL and paste into your podcast client.</li>
            <li>When you're finished with a feed, you can delete it if you like.</li>
            <li>Make as many RSS feeds as you like.</li>
            <li>Beware that some podcast apps that use server-side processing may delay in showing your files. Overcast is one example.</li>
        </ol>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginRouteForm(routeName: "UserCreateFeed", method: FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
        {
        @Html.AntiForgeryToken()
        <input type="hidden" id="UserBrowserDateTime" name="UserBrowserDateTime" />
        <fieldset>
            <div class="form-group">
                <label for="Files" class="col-lg-2 control-label">Audio Files</label>
                <div class="col-lg-10">
                    <textarea id="Files" name="Files" placeholder="Paste each audio file URL on a new line. Order them as you want to listen to them.">
                        @foreach (var file in Model.Files)
                            {
                        @(file + Environment.NewLine)
                            }</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="ImgUrl" class="col-lg-2 control-label">Artwork</label>
                <div class="col-lg-10">
                    <input type="url" id="ImgUrl" name="ImgUrl" placeholder="An image URL for the podcast artwork. Optional. If empty, we'll make one at random." value="@Model.ImgUrl" />
                    <div id="imgPreview"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="FeedName" class="col-lg-2 control-label">Feed Name</label>
                <div class="col-lg-10">
                    <input type="text" name="FeedName" id="FeedName" placeholder="Name this feed. If empty, we'll use your local date/time." value="@Model.FeedName" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-primary">Build My Feed</button>
                    @Html.Partial("_ValidationSummary", ViewData.ModelState)
                </div>
            </div>
        </fieldset>
        }
    </div>
</div>
@if (Model.FeedToken.HasValue())
{
    <div class="panel panel-default">

        <div class="panel-body">
            <div class="col-md-6">
                <div class="well">
                    <h3>Here's Your New RSS Feed!</h3>
                    <h4>@Model.FeedName</h4>
                    <h4><a href="@Model.FeedUri.AbsoluteUri" id="newFeedUrl">@Model.FeedUri.AbsoluteUri</a></h4>
                </div>
                <div class="well">
                    <h4>Email or Text/SMS It To Me</h4>
                    It's handy to just text it to your phone for easy copy/paste into your podcast client.
                    <input type="email" id="sendItToDetails" placeholder="your email or phone number" />
                    <button class="btn btn-primary" id="sendLinkButton">Send It To Me</button>
                    <div id="sendSuccess" class="alert alert-dismissable alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <span id="sendMsgSuccess"><strong>Sent!</strong> It'll arrive shortly.</span>
                        <span id="sendMsgWarning"><strong>Uh, oops.</strong> Something didn't work out.</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
</div>
@section Scripts{
    <script>
        $(function () {

            $("#UserBrowserDateTime").val(new Date());
            $("#sendSuccess").hide();
            $("#sendLinkButton").click(function () {
                $("#sendSuccess").hide();
                var dataPost = { feedToken: '@Model.FeedToken', sendTo: $("#sendItToDetails").val() };
                jQuery.ajax({
                    type: "POST",
                    url: '@Url.RouteUrl("SendNotification")',
                    data: dataPost,
                    dataType: "json",
                    success: function (data) {

                        if (data == false) {
                            $("#sendMsgSuccess").hide();
                            $("#sendMsgWarning").show();
                            $("#sendSuccess").addClass("alert-warning");
                            $("#sendSuccess").removeClass("alert-success");
                        }
                        else {
                            $("#sendMsgSuccess").show();
                            $("#sendMsgWarning").hide();
                            $("#sendSuccess").addClass("alert-success");
                            $("#sendSuccess").removeClass("alert-warning");
                        }

                        $("#sendSuccess").slideDown("fast");
                    }
                });
            });


            $(".deleteFeedLink").click(function () {
                var feedTokenToDel = $(this).attr("id");
                var dataPost = { feedToken: feedTokenToDel };
                jQuery.ajax({
                    type: "POST",
                    url: '@Url.RouteUrl("DeleteFeed")',
                    data: dataPost,
                    dataType: "json",
                    success: function (data) {

                    }
                });
            });

            $("#ImgUrl").blur(function () {
                $("#imgPreview").css('background-image', "url(" + $(this).val() + ")");
                $("#imgPreview").css('height', "100%");
            });
        });
    </script>
}
